.bottom_nav_bar{
    border-top: .5px solid rgb(199, 196, 196);
    background-color: white;
    color: black !important;
}
.bottom_nav_bar_front_and_icon{
    color: black;    
}
.bottom_nav_bar_front_and_icon:hover{
    color: blue;
}
.BottombarLable{
font-weight:700;
}


.BottomNavBar {
    display: none;
}

@media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/

}

@media only screen and (max-width: 600px) {

    /*Big smartphones [426px -> 600px]*/
    .BottomNavBar {
        display: block;
    }

}

@media only screen and (max-width: 425px) {

    /*Small smartphones [325px -> 425px]*/
    .BottomNavBar {
        display: block;
    }

}

@media only screen and (max-width: 370px) {

    /*Small smartphones [325px -> 425px]*/
    .BottombarLable {
        font-size: .5em;
    }

}